<div class="fs2e attack-notification chat-card" data-actor-id="{{defenderId}}">
  <p>
    {{localize "fs2e.chat.attack.attackNotification" attacker=attackerName target=targetName}}
  </p>
  <button class="dodge" data-action="Dodge" data-attacker-id="{{attackerId}}" data-defender-id="{{defenderId}}">
    {{localize "fs2e.chat.actions.dodge"}}
  </button>
</div>